extends block/_layout.jade

block header
  header.header
    .container.header_container
      .header__logo.logo
        a.logo__link(href="/")
          p.logo__text Сборные<br/> конструкции
          img.logo__img(src="./images/logo.png" width="61px" height="65px" alt="Сборные конструкции")

      .header__phone
        span.phone 8(3519) 43-12-42 

      ul.header__menu.menu
        li.menu__item: a.menu__link(href="./company.html") О компании
        li.menu__item: a.menu__link(href="./catalog.html") Каталог продукции
        li.menu__item: a.menu__link(href="./buildings.html") Наши объекты
        li.menu__item: a.menu__link(href="./partners.html") Партнеры
        li.menu__item: a.menu__link(href="./contacts.html") Контакты