.header
  height 100px
  box-shadow 0 5px 7px 0px rgba(0,0,0,0.1)  
  &_container
    position relative
    background url('../images/shadow.png') no-repeat bottom left 28% 
    height 100%
  
  &__logo
    position absolute
    top 15px
    left 0
    
  &__phone
    position absolute
    top 15px
    right 0
  &__menu
    position absolute
    bottom 20px
    right 0
    max-width 650px
