extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item Наши объекты

    h1.main-heading Наши объекты

    .object
      .object__company
        img(src="images/partner.png", alt="")
        span ЕвроАнгар

      .object__description
        p 
          | ГК «ЕвроАнгар» поставка материала под ограждающие конструкции и кровлю.
        p
          | <strong>Материал:</strong> сэндвич-панель, профилированный лист;

      .object__image
        img(src="images/object.jpg", alt="")









    .object
      .object__company
        img(src="images/partner.png", alt="")
        span МАРАЩ СТРОЙ

      .object__description
        p 
          | ООО «МАРАЩ СТРОЙ», поставка  оцинкованного профилированного листа Н-114 толщина 0,90мм, под кровлю, длиной 11200мм

      .object__image
        img(src="images/object.jpg", alt="")




    .object
      .object__company
        img(src="images/partner.png", alt="")
        span Шерризон-Норд

      .object__description
        p 
          | «Шерризон-Норд», логистический комплекс, г. Москва. Крупные поставки оцинкованного профилированного настила

      .object__image
        img(src="images/object.jpg", alt="")





    .object
      .object__company
        img(src="images/partner.png", alt="")
        span ИМПУЛЬС

      .object__description
        p 
          | ООО «ИМПУЛЬС». Объект: офисное помещение, размер 15х44х8,25м.
        p
          | <strong>Адрес:</strong> Москва, Варшавский проезд, д. 1. На данное время работы окончены.

      .object__image
        img(src="images/object.jpg", alt="")




    .object
      .object__company
        img(src="images/partner.png", alt="")
        span Рославль-Мясо

      .object__description
        p 
          | ООО «Рославль-Мясо». Объект: Свиноферма, размер 188,5х21х3м. На объект осуществлена поставка здания
          | из ЛСТК и ограждающие конструкции сэндвич-панели 100 RAL 9003/9003.

        p
          | <strong>Адрес:</strong> Смоленская область город Рославль. 


      .object__image
        img(src="images/object.jpg", alt="")


    .object
      .object__company
        img(src="images/partner.png", alt="")
        span компания

      .object__description
        p 
          | ОАО «1015 Управление специализированных монтажных работ».
        p
          | <strong>Объект:</strong> Войсковая часть.
        p
          | <strong>Материал:</strong> сайдинг 3 реечный, RAL 6021, RAL 9003;



      .object__image
        img(src="images/object.jpg", alt="")


    .object
      .object__company
        img(src="images/partner.png", alt="")
        span компания

      .object__description
        p 
          | Моноблок-птичник, республика Татарстан. 12 быстровозводимых зданий размерами 72,3х96х3,65 м.


      .object__image
        img(src="images/object.jpg", alt="")


    .object
      .object__company
        img(src="images/partner.png", alt="")
        span компания

      .object__description
        p 
          | Животноводческий комплекс (молочно-товарная ферма), Смоленская область. В него вошли: телятник на 600 голов-2 шт., коровник на 600 голов-2 шт., родильное отделение, доильно-молочный блок, стоянка для сельхозтехники, сенохранилище.


      .object__image
        img(src="images/object.jpg", alt="")



    //h2.objects__heading Заголовок блока
    p.objects__text
      | Все свои проекты мы реализовываем точно в срок, и каждое возведенное с нашей помощью сооружение на данный момент активно эксплуатируется без каких-либо нареканий. Сегодня мы можем гордиться заработанным статусом ведущего поставщика строительных услуг, реализуя проекты на уровне, превышающем ожидания наших заказчиков. И мы с нетерпением ожидаем будущего, новых клиентов и новых объектов.

