extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item Каталог продукции

    h1.main-heading Каталог продукции

    p.catalog-lead-text
      | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года.
      | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность.


    ul.catalog
      li.catalog__item.item-1: a.catalog__link(href="./products-1.html"): span.catalog__link-text Кровля
      li.catalog__item.item-2: a.catalog__link(href="./products.html"): span.catalog__link-text Фасадные<br/> системы
      li.catalog__item.item-3: a.catalog__link(href="./products.html"): span.catalog__link-text Сэндвич-панели
      li.catalog__item.item-3: a.catalog__link(href="./products.html"): span.catalog__link-text Профнастил
      li.catalog__item.item-1: a.catalog__link(href="./products.html"): span.catalog__link-text Комплектующие
      li.catalog__item.item-2: a.catalog__link(href="./products.html"): span.catalog__link-text Быстровозводимые<br/> здания