extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item О компании

    h1.main-heading О компании

    p.company__text
      | ООО «Сборные конструкции» была основана в 2013 году. Сегодня мы являемся строительной компанией с крупным товарооборотом, имея в своем распоряжении современное оборудование и технику, а также располагая высококвалифицированным персоналом.
    
    p.company__text
      | Наш основатель учредил ООО «Сборные конструкции», налаживая дружеские отношения с партнерами, что позволило компании составить себе имя такими принципами как добросовестность, доверие и надежность. Благодаря этому, к 2014 году наши клиенты убедились в надежности и добросовестности ООО «Сборные конструкции». Стремление укрепить их доверие помогли нам успешно реализовывать свои проекты и заработать репутацию успешной строительной компании. Результатом усердной работы ООО «Сборные конструкции» является постоянный рост и развитие производства.

    p.company__text
      | Сформированная на сегодняшний день структура компании позволяет ей эффективно справляться с крупномасштабными проектами. Достижения организации напрямую связаны с высокой квалификацией наших специалистов, имеющих многолетний опыт в строительстве.

    p.company__text
      | Профессиональный менеджмент, четкое взаимодействие с подрядчиками и субподрядчиками позволяют строго соблюдать сроки и обеспечивать высокое качество возводимых объектов. В отличие от большинства строительных фирм ООО «Сборные конструкции» не только предлагает комплексный подход и строительство «под ключ», но и осуществляет последующее гарантийное обслуживание зданий, что дает нам возможность ограждать своих клиентов от многих проблем, связанных с последующей эксплуатацией объекта.


    h2.company__heading Наши преимущества

    ul.partners__list
      li.partners__item
        img.partners__img(src="./images/advantage.png", alt="")
        span.partners__name Есть чем гордится
      li.partners__item
        img.partners__img(src="./images/advantage.png", alt="")
        span.partners__name Есть чем гордится
      li.partners__item
        img.partners__img(src="./images/advantage.png", alt="")
        span.partners__name Есть чем гордится
      li.partners__item
        img.partners__img(src="./images/advantage.png", alt="")
        span.partners__name Есть чем гордится
      li.partners__item
        img.partners__img(src="./images/advantage.png", alt="")
        span.partners__name Есть чем гордится

  .description.description_with-bg
    .container
      .description__content
        | На всех этапах строительства, от момента подготовки стройплощадки до сдачи объекта, специалисты ООО «Сборные конструкции» отслеживают качество строительных работ, обеспечивают соблюдение всех технических норм и стандартов в сфере ОТ, ТБ и ООС. Наша компания применяет эффективные технологии и использует только лучшие материалы.