extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item Контакты

    h1.main-heading Контакты


    .contacts 
      p.contacts__text Подробные контакты и реквизиты



  .map
