extends _layouts/main.jade


block content

  section.top
    .container.top_container
      h1.top__heading Поставка и монтаж

      ul.top__products
        li.top__item.item-1: a.top__link(href="./products.html"): span.top__link-text Сэндвич<br/> панелей
        li.top__item.item-2: a.top__link(href="./products.html"): span.top__link-text Фасадных<br/> систем
        li.top__item.item-3: a.top__link(href="./products.html"): span.top__link-text Быстровозводимые<br/> здания

      p.top__description
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
        | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность.

  section.our-work
    .container
      h2.our-work__heading Чем занимаемся
      p.text
        | ООО «Сборные конструкции» активно работает на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. За эти годы мы поставили и смонтировали сотни тонн кровель, сэндвич-панелей, профнастила и фасадных систем. Об успехах предприятия и отзывы о компании вы можете увидеть в рубрике сайта «Партнёры». За время деятельности  мы сумели создать профессиональный коллектив и наладить эффективную деятельность своего предприятия. 
      p.text
        | Наша компания является поставщиком быстровозводимых зданий и ограждающих металлоконструкций отечественного производства. В основу деятельности предприятия положено стремление к инновациям, высокотехнологичный подход к работе и квалифицированный персонал, а главным критерием является качество и надёжность.  Результат такого подхода виден налицо – низкие цены в сравнении с конкурентами, высокое качество конструкций и индивидуальный подход к каждому клиенту. Мы являемся одной из наиболее динамично развивающихся компаний, и такого статуса нам удалось достичь за счет рациональной организации рабочего процесса, а также качественного инженерного проектирования, отвечающего всем требованиям заказчика. Сотрудничество с нами – это передовые технологии, профессионализм, гарантия качества и лучшие условия! Стройте с нами!


  section.partners
    .container
      h2.partners__heading Наши партнеры

      ul.partners__list
        li.partners__item
          img.partners__img(src="./images/partner.png", alt="")
          span.partners__name Название компании
        li.partners__item
          img.partners__img(src="./images/partner.png", alt="")
          span.partners__name Название компании
        li.partners__item
          img.partners__img(src="./images/partner.png", alt="")
          span.partners__name Название компании
        li.partners__item
          img.partners__img(src="./images/partner.png", alt="")
          span.partners__name Название компании
        li.partners__item
          img.partners__img(src="./images/partner.png", alt="")
          span.partners__name Название компании

  section.news
    .container
      h2.news__heading Новости

      .news__list
        .news__item
          img(src="images/news.jpg", alt="")
          h3.news__item-heading Животноводческий комплекс
          p.news__text Задача была не из простых. Требовалось возвести огромный комплекс для разведения животных.
        .news__item
          img(src="images/news2.jpg", alt="")
          h3.news__item-heading Животноводческий комплекс
          p.news__text Задача была не из простых. Требовалось возвести огромный комплекс для разведения животных.
        .news__item 
          img(src="images/news3.jpg", alt="")
          h3.news__item-heading Животноводческий комплекс
          p.news__text Задача была не из простых. Требовалось возвести огромный комплекс для разведения животных.
        .news__item
          img(src="images/news.jpg", alt="")
          h3.news__item-heading Животноводческий комплекс
          p.news__text Задача была не из простых. Требовалось возвести огромный комплекс для разведения животных.
        .news__item
          img(src="images/news2.jpg", alt="")
          h3.news__item-heading Животноводческий комплекс
          p.news__text Задача была не из простых. Требовалось возвести огромный комплекс для разведения животных.
        .news__item
          img(src="images/news3.jpg", alt="")
          h3.news__item-heading Животноводческий комплекс
          p.news__text Задача была не из простых. Требовалось возвести огромный комплекс для разведения животных.