extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item Партнеры

    h1.main-heading Партнеры

    p.catalog-lead-text
      | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года.
      | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность.


    ul.partners__list
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании



      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании

      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании



      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании



      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании
      li.partners__item
        img.partners__img(src="./images/partner.png", alt="")
        span.partners__name Название компании