extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item: a.breadcrumbs__link(href="/catalog.html") Каталог продукции
      li.breadcrumbs__item: a.breadcrumbs__link(href="/products.html") Название раздела
      li.breadcrumbs__item Название продукта

    h1.main-heading Название продукта

    .product
      .product__image
        img(src="images/product.jpg", width="375px" alt="")
      .product__description
        p.product__text
          | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
          | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
          | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
          | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
          | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
          | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность.

   

    h2 Технические характеристики продукта

    table
      tr 
        td
        td
        td
        td
        td
      tr 
        td
        td
        td
        td
        td
      tr 
        td
        td
        td
        td
        td
      tr 
        td
        td
        td
        td
        td

  .description
    .container
      img.description__image(src="./images/description.jpg", alt="")
      p.description__content
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
        | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
        | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
        | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года.
