extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item: a.breadcrumbs__link(href="/catalog.html") Каталог продукции
      li.breadcrumbs__item: a.breadcrumbs__link(href="/products.html") Кровля
      li.breadcrumbs__item Металлочерепица

    h1.main-heading Металлочерепица

    .product
      .product__image
        img(src="images/product.jpg", width="375px" alt="")
      .product__description
        p.product__text
          | Металлочерепица — словосочетание обусловленное соединением лучших функциональных свойств металла и черепицы в виде современного строительного материала, предназначенного для кровельных работ. Используется металлочерепица при строительстве производственных, жилых и других объектов и строений вне какой-либо зависимости от условий климата.
          | Сам по себе процесс производства металлочерепицы довольно сложный: стальные или медные листы стандартной толщины до 0,5 мм поначалу подвергаются двухсторонней оцинковке термическим методом для повышения устойчивости к коррозии, затем с внутренней стороны наносится специальный защитный слой полимерного покрытия, и чем толще будет этот защитный слой, тем более долговечен и устойчив кровельный материал к разъеданию ржавчиной. С внешней стороны кровельных листов также наносится декоративное защитное покрытие, но уже в разнообразной цветовой гамме, близкой к натуральным природным цветам. В результате такой многослойной обработки срок службы металлочерепицы гарантирован до 50 лет и больше; длина листов колеблется от 5 до 7 метров, но наибольшим спросом пользуются в основном короткие листы, поскольку их легче монтировать и они более удобны при транспортировке. Кроме того, преимущества подобного кровельного материала в том, что он обладает малым весом, устойчив к перепадам температуры, благодаря чему стоимость металлочерепицы сравнительно невысока. Цена на металлочерепицу складывается в зависимости от сложности технологического процесса и толщины защитных полимерных покрытий.

   

    h2 Технические характеристики продукта

    table
      tr 
        td
        td
        td
        td
        td
      tr 
        td
        td
        td
        td
        td
      tr 
        td
        td
        td
        td
        td
      tr 
        td
        td
        td
        td
        td

  .description
    .container
      img.description__image(src="./images/description.jpg", alt="")
      p.description__content
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
        | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
        | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года. 
        | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность. 
        | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года.
