extends _layouts/main.jade


block content
  .top-line
    .container.top-line__container

  .container
    ul.breadcrumbs
      li.breadcrumbs__item: a.breadcrumbs__link(href="/") Главная
      li.breadcrumbs__item: a.breadcrumbs__link(href="/catalog.html") Каталог продукции
      li.breadcrumbs__item Название раздела

    h1.main-heading Название раздела

    p.catalog-lead-text
      | Активно работаем на рынке проектирования, поставок и монтажа различных металлоконструкций с 2013 года.
      | Сотрудничество с нами — это выгодные цены, хорошие условия, профессионализм и компетентность.


    ul.catalog
      li.catalog__item.item-3: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-2: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-1: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-3: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-2: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-1: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-3: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-2: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта
      li.catalog__item.item-1: a.catalog__link(href="./product.html"): span.catalog__link-text Название<br/> продукта