@import 'jeet'

normalize-css()

//edit()

width = 1200px
min-width = 1000px

mainTextColor = #000
secondTextColor = #7f7f7f

menuTextCOlor = #303030

newsTextColor = #fff
newsCardsColor = #071d49

topTextColor = #fff

firstMainColor = #08214d
secondMainColor = #00aeef


btnBorderHover = #ECF7D8

bTopPadding = 80px
bBottomPadding = 100px

* 
  box-sizing border-box

html 
  height 100% 
body
  font-family: 'Open Sans', sans-serif;
  font-size 14px
  line-height 1.42
  color mainTextColor
  background #fff
  min-width 1000px
  width: auto;
  height 100%

a 
  outline none 
p 
  padding 0
  margin 0
  
ul 
  padding 0
  margin 0

h1, h2, h3, h4, h5, h6
  margin 0
  padding 0

h1
  font-size 36px
  font-weight bold
h2
  text-align center
  font-size 26px
  font-weight bold
h3
  font-size 16px
  font-weight bold

hr 
  border 1px solid #d8d8d9


table
  width 100%
  margin 50px auto
  tr 
    height 20px
  td 
    border 1px solid #aaa
    width 250px


.container
  center(1000px, pad:1%)

.main-heading
  text-transform uppercase
  margin-top 15px
  margin-bottom 30px
  font-size 30px
  font-weight bold


/*--------------------------------------- TOP ----------------------------------*/

.top-line
  background firstMainColor
  background linear-gradient(90deg, secondMainColor 0%, secondMainColor 50%, firstMainColor 50%, firstMainColor 100%)
  &__container
    background linear-gradient(67deg, secondMainColor 0%, secondMainColor 32.3%, firstMainColor 32.3%, firstMainColor 100%)
    height 30px
.top
  background firstMainColor
  background linear-gradient(70deg, secondMainColor 0%, secondMainColor 50%, firstMainColor 50%, firstMainColor 100%)
  color topTextColor
  text-align center

  
  height 500px

  &_container
    background linear-gradient(70deg, secondMainColor 0%, secondMainColor 42%, firstMainColor 42%, firstMainColor 100%)
    height 100%
  &__heading
    margin-top 100px
    text-transform uppercase
  &__description
    text-transform uppercase
    font-size 14px
    font-weight bold



  &__products
    center(1000px)
    margin 40px 0 60px
    list-style none
  &__item
    position relative
    column(1/3, gutter:0, cycle:3)
    margin-bottom 4px
    background firstMainColor
    height 135px
    border 2px solid #fff
    for i in (1..3)
      &.item-{i}
        background url('../images/category'+i+'.jpg') firstMainColor no-repeat
        background-size cover
        background-position 50% 50%
    
  &__link
    position absolute
    right 0
    left 0
    top 0
    bottom 0    
    color #fff
    text-decoration none
    font-weight bold
    font-size 20px
    text-transform uppercase
    &-text 
      position absolute
      left 15px
      bottom 20px
      max-width 250px
      text-align left
      &:after
        position absolute
        content url('../images/arrow.png')
        right -50px
        top 50%
        margin-top -25px

/*--------------------------------------- TOP END ----------------------------------*/

/*--------------------------------------- PARTNERS ----------------------------------*/

.partners
  &__heading
    margin-top 50px
    margin-bottom 50px
    text-transform uppercase
  
  &__list
    center(960px)
    margin-top 50px
    margin-bottom 50px
    list-style-type none
  &__item
    column(1/5, cycle: 5)
    text-align center
    margin-bottom 45px
  &__img
    display block
    margin 0 auto 10px
  &__name
    color secondTextColor

/*--------------------------------------- PARTNERS END ----------------------------------*/


/*--------------------------------------- NEWS ----------------------------------*/

.news
  background secondMainColor
  color newsTextColor
  
  &__heading
    margin-top 50px
    margin-bottom 50px
    text-transform uppercase
  &__item-heading
    padding 10px 15px 0  
    text-transform uppercase
  &__list
    center(1000px)  
  &__item
    column(1/3, gutter: 0, cycle: 3)
    background newsCardsColor  
    padding 0
    border 1px solid #142952

    img
      //position relative
      width 100%
      display block
  &__text
    font-size 12px
    padding 15px 15px 20px
    line-height 1.8
/*--------------------------------------- NEWS END ----------------------------------*/


/*--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------*/


  
 

/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

.logo
  width 266px
  height 65px
  &__link
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    color mainTextColor
  &__text
    position absolute
    left 0
    bottom 0
    text-align right
    text-transform uppercase
    width 200px
    font-weight bold
    font-size 24px
    line-height 0.9
  &__img
    position absolute
    top 0
    right 0
    
.logo_gray .logo__text
  color #d8d8d9
  


.menu 
  text-transform uppercase
  list-style-type none
  
  &__item
    display inline-block
    margin-right 20px
    font-weight bold
    &:last-child
      margin-right 0
  
  &__link
    color mainTextColor
    text-decoration none
    padding 12px 0
    &:hover
      color secondTextColor

.phone
  font-size 15px
  color secondTextColor
  font-weight bold
  &:before
    position relative
    content url('../images/phone.png')
    right 15px
    top 3px
  &_gray
    color mainTextColor
    font-size 18px
    &:before
      content url('../images/phone-gray.png')
      

/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/


.breadcrumbs
  margin-top 20px
  margin-bottom 40px
  list-style none
  &__item
    display inline-block
    margin-right 2px
    color #bbb
    &:not(:first-child):before
      content '\\'
      font-size 16px
      margin-right 4px
  &__link
    position relative
    top -1px
    color #bbb
    
    &:hover
      color mainTextColor

/*----------------------------------  CATALOG  ------------------------------------------*/

.catalog-lead-text
  center(850px)
  text-align center
  font-size 15px
  line-height 2

.catalog
  center(1000px)
  margin 50px auto 60px
  list-style none
  height 100%
  color #fff
  &__item
    position relative
    column(1/3, gutter:0.5, cycle:3)
    margin-bottom 4px
    background firstMainColor
    height 135px
    for i in (1..3)
      &.item-{i}
        background url('../images/category'+i+'.jpg') firstMainColor no-repeat
        background-size cover
        background-position 50% 50%
    
  &__link
    position absolute
    right 0
    left 0
    top 0
    bottom 0    
    color #fff
    text-decoration none
    font-weight bold
    font-size 20px
    text-transform uppercase
    &-text 
      position absolute
      left 15px
      top 70px
      max-width 250px
      &:after
        position absolute
        content url('../images/arrow.png')
        right -50px
        top 50%
        margin-top -25px
        

/*--------------------------------  CATALOG END  -------------------------------------*/


/*----------------------------------  PRODUCTS  ------------------------------------------*/

.product
  center(1000px)
  margin-bottom 80px
  &__image 
    column(2/5, gutter: 8)
  &__description
    column(3/5, gutter: 8)
    
  &__text
    padding-left 20px
    line-height 2
    font-size 15px

/*--------------------------------  PRODUCTS END  -------------------------------------*/


.description
  padding 50px 0
  background firstMainColor
  color #fff
  &_with-bg
    background url('../images/description-bg.jpg') firstMainColor repeat-x
    padding-top 150px
  &__image
    display block
    margin 0 auto
  &__content
    margin 50px 0 0px
    font-size 15px
    line-height 2

/*----------------------------------  OBJECT  ------------------------------------------*/

.object
  center(1000px)
  margin-top 20px
  margin-bottom 130px
  &__company
    column(2/12, gutter: 2.5)
    color secondTextColor
    text-align center
  &__description
    column(5/12, gutter: 2.5)
    font-size 13px
    line-height 2
    color secondTextColor
    p 
      padding-left 10px
  &__image 
    column(5/12, gutter: 2.5)
  
.objects__heading
  margin 35px 0 30px
  text-align left
  line-height 1

.objects__text
  font-size 15px
  line-height 2
  margin-bottom 100px
/*--------------------------------  OBJECT END  -------------------------------------*/

/*-------------------------------- COMPANY ---------------------------------------*/

.company__text
  font-size 15px
  line-height 2
  padding-bottom 70px
  
.company__heading
  margin-top 30px
  text-transform uppercase
  
/*------------------------------ COMPANY END ---------------------------------------*/

/*-------------------------------- CONTACTS ---------------------------------------*/

.contacts
  font-size 15px
  font-weight 400
  height 320px
  &__text
    padding 0
    
.map
  background firstMainColor
  height 450px
  color #fff
  padding-top 20px







.our-work
  &__heading
    margin-top 50px

    text-transform uppercase

.text 
  margin-top 50px
  color #333
  font-size 15px
  line-height 2

/*------------------------------ CONTACTS END -------------------------------------*/

@import '../elements.project/header/block/style.styl'
@import '../elements.project/footer/block/style.styl'





