extends block/_layout.jade

block footer

  .container
    ul.bottom__menu.menu
      li.menu__item: a.menu__link(href="./company.html") О компании
      li.menu__item: a.menu__link(href="./catalog.html") Каталог продукции
      li.menu__item: a.menu__link(href="./buildings.html") Наши объекты
      li.menu__item: a.menu__link(href="./partners.html") Партнеры
      li.menu__item: a.menu__link(href="./contacts.html") Контакты

    hr/

  footer.footer
    .container.footer_container



      .footer__logo.logo.logo_gray
        a.logo__link(href="/")
          p.logo__text Сборные<br/> конструкции
          img.logo__img(src="./images/logo-gray.png" width="61px" height="65px" alt="Сборные конструкции")

      ul.footer__requisites
        li ООО “Статус”
        li ОРГН 1147456004200
        li ИНН 7456022109
        li КПП 745801001
      ul.footer__contacts
        li Директор Липатов Е. В.
        li: a(href="mailto:metal@gmail.ru") metal@gmail.ru

      .footer__phone
        span.phone.phone_gray 8(3519) 43-12-42 
