.footer
  height 140px
  &_container
    position relative
    height 100%
  &__logo
    position absolute
    top 20px
    left 0
    
  &__phone
    position absolute
    top 30px
    right 0
    
  &__menu
    margin-top 35px
    margin-bottom 30px
    
  &__requisites
    position absolute
    top 30px
    left 320px
    list-style none
    color secondTextColor
    font-weight 300
    
  &__contacts
    position absolute
    top 30px
    left 520px
    list-style none
    color secondTextColor
    font-weight 300

.bottom__menu
  max-width 1000px
  margin 35px 0 30px
  text-align: center;
  li 
    vertical-align middle
    margin-right 90px
    margin-bottom 15px
  &:before
    content ''
    height 100%
    display inline-block
    vertical-align middle

