doctype html
html.no-js(lang="ru-RU")
  head
    meta(charset='utf-8')
    title Сборные конструкции
    meta(name="description" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href="./css/style.css") 
    script(src="js/vendor/modernizr-2.8.3.min.js")
    | <!--[if lt IE 9]>
    |   <script src="js/vendor/selectivizr-1.0.3b.min.js"></script>
    |   <script src="js/vendor/respond-1.4.2.min.js"></script>
    |   <script src="js/vendor/calc.min.js"></script>
    | <![endif]-->
  body
    | <!--[if IE]>
    |  <div class="browsehappy">
    |    <p>
    |      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
    |    </p>
    |  </div>
    | <![endif]-->

    include ../../elements.project/header/header.jade
    block content
    include ../../elements.project/footer/footer.jade


    | <!--[if lt IE 9]>
    |   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    |   <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    | <![endif]-->
    | <!--[if gt IE 8]><!-->
    |   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    |   <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.3.min.js"><\/script>')</script>
    | <!--<![endif]-->
   
    script(src="js/app.js")